---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
    <div class="hero bg-base-100 py-20">
        <div class="hero-content text-center">
            <div class="prose text-base max-w-5xl">
                <h2>Julklappar till kunder och anställda</h2>
                <p>Vi har tillverkat julklappar länge och har många återkommande kunder som kontaktar oss långt innan julruschen börjar.</p>
                <p>Dessa kan levereras med eller utan tryck, beroende på målgruppen, men vi rekommenderar alltid tryck, åtminstone på förpackningen.</p>
                <p>Vissa vill vara med innan produkten tar slut, medan andra vill göra klart den så att de inte behöver oroa sig för den senare. En julklapp kan ta sig hundra olika former, men presentkort är vår specialitet.</p>
                <p>Godis är naturligtvis en traditionell julklapp och present. Det kan handla om ett stort paket med blandade sötsaker eller ett mindre paket med mer delikat choklad.</p>
                <p>Tryck görs ofta på varje enskild godisbit samt på förpackningen.</p>
                <p>Den största fördelen med godis är förstås att det är en gåva som nästan alltid fungerar, så den används ofta som en allmän gåva till både kollegor och affärspartners.</p>
                <p>Den största fördelen med presentkort är att dina mottagare kan välja vilken gåva de vill ha, och de får ofta en gåva när kortet delas ut.</p>
                <p>Genom att trycka upp presentkortet säkerställer man att mottagaren vet vem som gav dem godbitarna, vilket är lätt att glömma under julhelgen.</p>
                <h2>Tacka dina anställda på lämpligt sätt med julpresenter!</h2>
                <p>Men kom ihåg att beställa det i förväg. Därför bör det finnas tillgängligt i webbutiken senast i oktober eller november.</p>
                <p>Dessa händelser ger vanligtvis en något mindre gåva. Eftersom du vill ge de bästa gåvorna till dina kollegor och medlemmar.</p>
                <p>En julklapp kan också säljas till föreningens medlemmar och bidra med en liten summa till organisationens kassa.</p>
                <p>Slutligen kan julklappar ges till samarbetspartners. Sponsorer och andra intressenter i din verksamhet.</p>
                <p>Men vem ska du ge julklappar till? Du måste ha din egen personal.</p>
                <p>Både som ett tack för deras insatser under året och för att öka lagandan. Inom föreningssektorn kan man ge julklappar till föreningens styrelse eller till frivilliga som har arbetat extra hårt.</p>
            </div>
        </div>
    </div>

    <div class="hero bg-base-200 py-20">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <img src="./images/allman-gava.jpg" class="md:max-w-sm rounded-lg shadow-2xl m-10" alt="Julklappar Personal,Julgåvor Till Anställda,Julklapp Personal"/>
            <div class="prose text-base max-w-screen-2xl">
                <h2>Köksgåvor är en beprövad idé!</h2>
                <p>Pannor, stekpannor, knivar och kökshanddukar är saker som används dagligen.</p>
                <p>Ett vinglas, till exempel, kan vara en lämplig julklapp, men det ger sällan ditt varumärke lika mycket exponering som ett mer allmänt glas.</p>
                <p>Det faktum att de flesta hushållsartiklar används i många år gör det enkelt att distribuera dina gåvor.</p>
                <p>När du väljer en köksprodukt, leta efter en som är lyxig men som också kan användas dagligen.</p>
                <p>Som vi alla vet är december månad en tid då vi lagar mycket mat och bakar, så grytor, lyxiga bestickuppsättningar och förkläden är idealiska.</p>
                <p>Det fina med köksprodukter är att de ofta används i många år, så en enda julklapp (med tryck) kan exponera ditt varumärke för mottagaren tusentals gånger.</p>
            </div>
        </div>
    </div>

    <div class="hero bg-base-100 py-20">
        <div class="hero-content flex-col lg:flex-row">
            <img src="./images/julgavor.jpg" class="md:max-w-sm rounded-lg shadow-2xl m-10" alt="Julklappar Kunder,Företagspresenter,Julens Gåvor"/>
            <div class="prose text-base max-w-screen-2xl">
                <h2>Vad säger skatteverket om julgåvor</h2>
                <h3>Julklappar och andra gåvor till anställda i samband med jul och andra tillfällen</h3>
                <p>De flesta gåvor som du får från din arbetsgivare är skattepliktiga förmåner. Det finns dock vissa undantag. Om marknadsvärdet ligger under ett visst tröskelvärde är julklappar, jubileumsgåvor och minnesgåvor skattefria.</p>
                <p>Huvudregeln är att alla gåvor du får från din arbetsgivare som anställd är skattepliktiga.</p>
                <p>Julgåvor, jubileumsgåvor och minnesgåvor är undantagen. Så länge gåvans marknadsvärde inte överstiger det beskattningsbara beloppet är du som anställd befriad från att betala skatt på dem. Om gåvans värde är högre än detta tröskelvärde är den dock skattepliktig från första öre.</p>
                <h3>Julklapp</h3>
                <p>Om en julklapp är värd mindre än 500 kronor är den skattefri (inklusive moms).</p>
                <h3>Jubileumsgåva</h3>
                <p>En gåva som ges till dig som anställd för att hedra företagets 25-, 50-, 75- eller 100-årsjubileum kallas jubileumsgåva. Om priset inte överstiger 1 500 kronor är den skattefri (inklusive moms).</p>
                <h3>Minnesgåva</h3>
                <p>Om du arbetar permanent för företaget kan du få en gåva för att minnas tillfället.</p>
                <p>Vid uppsägning av anställningen när man uppnår en viss ålder (även födelsedagar från 50 år och uppåt), om man är anställd under en längre tid (minst 20 år), eller både och.</p>
                <p>Om värdet på minnesgåvan är mindre än 15 000 kronor är du befriad från skatt (inklusive moms). Din arbetsgivare får ge dig högst två skattefria minnesgåvor. Om din totala anställningstid överstiger sex år betraktas du som långtidsanställd.</p>
                <h3>Julgåva vs. Gratifikation</h3>
                <p>Gratifikation, även kallad bonus, är en frivillig betalning som du kan göra till dina anställda i utbyte mot utförda tjänster. Vanligtvis har den anställde överträffat förväntningarna eller uppfyllt specifika affärsmål. Gratifikationen, även kallad bonus, är en kontantgåva som ges utöver den anställdes ordinarie lön eller arvoden.</p>
                <p>Bonusar är föremål för beskattning.</p>
                <p>Eftersom en gratifikation betraktas som ersättning för en utförd tjänst snarare än som en gåva, behandlas och beskattas den som en vanlig lön.</p>
            </div>
        </div>
    </div>

    <div class="hero bg-base-200 py-20">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <img src="./images/design.jpg" class="md:max-w-sm rounded-lg shadow-2xl m-10" alt="Julklapp Till Anställda, Julgåva Kunder, Gåvokort"/>
            <div class="prose text-base max-w-screen-2xl">
                <h2>Julklappskort och gåvokort</h2>
                <p><strong>Julklappkort</strong></p>
                <p>Du kanske har läst om våra presentkort tidigare, men de är värda att upprepa.</p>
                <p><strong>Presentkort</strong> gör det enkelt att välja och distribuera julklappar eftersom de ofta är förpackade i en liten presentförpackning.</p>
                <p>Presentkort är å andra sidan mer av en engångsgåva som sällan kan tryckas eller graveras.</p>
                <p>Kortet i denna förpackning kan sedan användas av dina mottagare för att beställa huvudgåvan - och du får ofta en present/bonusgåva med kortet.</p>
                <p>Med andra ord behöver du inte oroa dig för presentinslagning eller förpackning eftersom gåvan redan är inslagen.</p>
                <hr/>
                <h2>Presentkort är ofta det bästa alternativet när du vill att gåvan ska vara omärkt.</h2>
                <p>Detta är naturligtvis en nackdel, men det förenklar både beställning och leverans.</p>
                <p>Långsiktig varumärkesexponering genom dina julklappar</p>
                <p>Du gör det enkelt för dem att gå från tanke till handling genom att ge dem fantastiska gåvor.</p>
                <p>Vem vet, den personliga gåvan kanske slutar med att stanna i ditt kök de kommande 5-10 åren?</p>
                <p>Resväskor kan också användas som julklapp. Å ena sidan blir det allt vanligare att semestra under julen.</p>
                <p>Sprid ditt varumärke inte bara i detta vidsträckta land, utan även i avlägsna länder!</p>
                <p>Väskor har naturligtvis den extra fördelen att de är synliga inte bara för nära och kära utan även för förbipasserande.</p>
                <p>Många utnyttjar dock möjligheten att resa bort i januari, när det är som kallast här hemma!</p>
                <p>Isolerande termosar, mysiga filtar och tryckta mössor är några andra saker som är idealiska att ge bort strax före jul.</p>
                <p>Många köksartiklar har du förmodligen velat byta ut länge men aldrig gjort.</p>
                
            </div>
        </div>
    </div>

    <div class="hero bg-base-100 py-20">
        <div class="hero-content flex-col lg:flex-row">
            <img src="./images/intern-representation.jpg" class="md:max-w-sm rounded-lg shadow-2xl m-10" alt="Skattefria Gåvor,Julklappar Till Personalen,Av gåvor Med Undantag"/>
            <div class="prose text-base max-w-screen-2xl">
                <h2>Lyxiga eller praktiska julgåvor?</h2>
                <p>Beroende på målgruppen kan en av de tidigare nämnda kategorierna, eller till och med ett paraply, vara mer passande.</p>
                <p>Om detta är ditt huvudfokus kan du överväga att ge bort kaffemuggar med tryck av hög kvalitet eller väskor för bärbara datorer med flera fack som kan användas hela året.</p>
                <p>Även om köksgåvor ofta används som både en lyxig och praktisk gåva är det inte alla som tycker om att laga mat.</p>
                <p>Detta kan tyckas vara dåliga val för julklappar, men de flesta skulle bli imponerade om de fick ett reflekterande vindparaply eller en lyxig graverad metallpenna i present.</p>
                <p>Paraplyer är också särskilt bra eftersom de är en gåva som många människor behöver utan att fundera särskilt mycket.</p>
                <p>Julklappar väljs ofta för att imponera på mottagaren, men den bästa gåvan är naturligtvis en produkt som kommer att användas upprepade gånger och som därmed exponerar ditt varumärke för flest möjliga människor.</p>
                <p>Pennor, reflektorer och vissa väskor ingår också i denna kategori.</p>
                <p>Vi har också ett stort urval av matgåvor som alltid tas emot väl vid jul. Välj mellan både godis och fina matuppsättningar till riktigt låga priser!</p>
                <p>Se till att beställa dina julklappar i god tid så att din önskade vara inte blir slutsåld. Vi har ett stort urval så en jämförbar produkt är lätt att hitta, men det är alltid bäst att få ditt förstahandsval!</p>
                <hr/>
                <h2>Som julklapp kan du överväga att donera till välgörenhet.</h2>
                <p>I rätt tid. Många människor följer trenden att minska konsumtionen och julhandeln, och det är nu enkelt att ersätta prylar med en hjälpande hand. På hjälporganisationernas webbplatser är möjligheterna oändliga: du kan till exempel bidra till renare vatten genom Medical Mission, hjälpa till att rädda regnskogen genom Save the Rainforest eller ge bort en get genom ActionAid. Barncancerfonden, Barnmissionen, Erikshjälpen och Barnfonden är några av de andra organisationer som ger julklappar.</p>
                <p>Tänk på att en välgörande julklapp inte räknas som en julklapp enligt Skatteverkets regler, utan som en vanlig gåva. Om du som företagare gör en välgörenhetsgåva i stället för att ge en julklapp till dina anställda är detta inte en skattepliktig förmån. Samtidigt kan du som företagare inte dra av gåvan.</p>
            </div>
        </div>
    </div>

    <div class="hero bg-base-200 py-20">
        <div class="hero-content text-center">
            <div class="prose text-base max-w-5xl">
                <h2>Presentkort är ett säkert kort!</h2>
                <p>Enkelt och anpassningsbart. Presentkort som inte kan lösas in mot kontanter är en skattefri julklapp till dina anställda. Passar bra om du har en mångsidig grupp anställda med olika intressen.</p>
                <h2>Livsmedel</h2>
                <p>Allt från delikatesslådor till chokladlådor är acceptabelt. Du måste dock göra en del efterforskningar om din personals allergier och specialkoster. Se till att allt du donerar är ätbart för alla dina anställda!</p>
                <h2>Biljetter till filmerna</h2>
                <p>Biobiljetter är också populära julklappar, särskilt bland yngre anställda.</p>
                <h2>Låt de anställda välja sin julklapp.</h2>
                <p>Om du inte kan bestämma dig mellan några alternativ, varför inte låta dina anställda välja sin egen julklapp? Skapa tre alternativ inom samma prisklass och be de anställda välja ett. Detta är populärt eftersom valet av julklapp blir en gåva i sig själv.</p>
            </div>
        </div>
    </div>
</Layout>
