---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Julklappar, julg&aring;vor och presenter till kunder och anst&auml;llda."
        description="Vi har tillverkat julklappar l&auml;nge och har m&aring;nga &aring;terkommande kunder som kontaktar oss l&aring;ngt innan julruschen b&ouml;rjar.Dessa kan levereras med eller utan tryck, beroende p&aring; m&aring;lgruppen, men vi rekommenderar alltid tryck, &aring;tminstone p&aring; f&ouml;rpackningen."
    >
    <div class="hero bg-base-100 py-20">
        <div class="hero-content text-center">
            <div class="prose text-base max-w-5xl">
                <h2>Julklappar till kunder och anst&auml;llda</h2>
                <p>Vi har tillverkat julklappar l&auml;nge och har m&aring;nga &aring;terkommande kunder som kontaktar oss l&aring;ngt innan julruschen b&ouml;rjar.</p>
                <p>Dessa kan levereras med eller utan tryck, beroende p&aring; m&aring;lgruppen, men vi rekommenderar alltid tryck, &aring;tminstone p&aring; f&ouml;rpackningen.</p>
                <p>Vissa vill vara med innan produkten tar slut, medan andra vill g&ouml;ra klart den s&aring; att de inte beh&ouml;ver oroa sig f&ouml;r den senare. En julklapp kan ta sig hundra olika former, men presentkort &auml;r v&aring;r specialitet.</p>
                <p>Godis &auml;r naturligtvis en traditionell julklapp och present. Det kan handla om ett stort paket med blandade s&ouml;tsaker eller ett mindre paket med mer delikat choklad.</p>
                <p>Tryck g&ouml;rs ofta p&aring; varje enskild godisbit samt p&aring; f&ouml;rpackningen.</p>
                <p>Den st&ouml;rsta f&ouml;rdelen med godis &auml;r f&ouml;rst&aring;s att det &auml;r en g&aring;va som n&auml;stan alltid fungerar, s&aring; den anv&auml;nds ofta som en allm&auml;n g&aring;va till b&aring;de kollegor och aff&auml;rspartners.</p>
                <p>Den st&ouml;rsta f&ouml;rdelen med presentkort &auml;r att dina mottagare kan v&auml;lja vilken g&aring;va de vill ha, och de f&aring;r ofta en g&aring;va n&auml;r kortet delas ut.</p>
                <p>Genom att trycka upp presentkortet s&auml;kerst&auml;ller man att mottagaren vet vem som gav dem godbitarna, vilket &auml;r l&auml;tt att gl&ouml;mma under julhelgen.</p>
                </div>
        </div>
    </div>

    <div class="hero bg-base-200 py-20">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <img src="./images/allman-gava.jpg" class="md:max-w-sm rounded-lg shadow-2xl m-10" alt="Julklappar Personal,Julg&aring;vor Till Anst&auml;llda,Julklapp Personal"/>
            <div class="prose text-base max-w-screen-2xl">
                <h2>Tacka dina anst&auml;llda p&aring; l&auml;mpligt s&auml;tt med julpresenter!</h2>
                <p>Men kom ih&aring;g att best&auml;lla det i f&ouml;rv&auml;g. D&auml;rf&ouml;r b&ouml;r det finnas tillg&auml;ngligt i webbutiken senast i oktober eller november.</p>
                <p>Dessa h&auml;ndelser ger vanligtvis en n&aring;got mindre g&aring;va. Eftersom du vill ge de b&auml;sta g&aring;vorna till dina kollegor och medlemmar.</p>
                <p>En julklapp kan ocks&aring; s&auml;ljas till f&ouml;reningens medlemmar och bidra med en liten summa till organisationens kassa.</p>
                <p>Slutligen kan julklappar ges till samarbetspartners. Sponsorer och andra intressenter i din verksamhet.</p>
                <p>Men vem ska du ge julklappar till? Du m&aring;ste ha din egen personal.</p>
                <p>B&aring;de som ett tack f&ouml;r deras insatser under &aring;ret och f&ouml;r att &ouml;ka lagandan. Inom f&ouml;reningssektorn kan man ge julklappar till f&ouml;reningens styrelse eller till frivilliga som har arbetat extra h&aring;rt.</p>
                <hr/>
                <h2>K&ouml;ksg&aring;vor &auml;r en bepr&ouml;vad idé!</h2>
                <p>Pannor, stekpannor, knivar och k&ouml;kshanddukar &auml;r saker som anv&auml;nds dagligen.</p>
                <p>Ett vinglas, till exempel, kan vara en l&auml;mplig julklapp, men det ger s&auml;llan ditt varum&auml;rke lika mycket exponering som ett mer allm&auml;nt glas.</p>
                <p>Det faktum att de flesta hush&aring;llsartiklar anv&auml;nds i m&aring;nga &aring;r g&ouml;r det enkelt att distribuera dina g&aring;vor.</p>
                <p>N&auml;r du v&auml;ljer en k&ouml;ksprodukt, leta efter en som &auml;r lyxig men som ocks&aring; kan anv&auml;ndas dagligen.</p>
                <p>Som vi alla vet &auml;r december m&aring;nad en tid d&aring; vi lagar mycket mat och bakar, s&aring; grytor, lyxiga bestickupps&auml;ttningar och f&ouml;rkl&auml;den &auml;r idealiska.</p>
                <p>Det fina med k&ouml;ksprodukter &auml;r att de ofta anv&auml;nds i m&aring;nga &aring;r, s&aring; en enda julklapp (med tryck) kan exponera ditt varum&auml;rke f&ouml;r mottagaren tusentals g&aring;nger.</p>
            </div>
        </div>
    </div>

    <div class="hero bg-base-100 py-20">
        <div class="hero-content flex-col lg:flex-row">
            <img src="./images/julgavor.jpg" class="md:max-w-sm rounded-lg shadow-2xl m-10" alt="Julklappar Kunder,F&ouml;retagspresenter,Julens G&aring;vor"/>
            <div class="prose text-base max-w-screen-2xl">
                <h2>Vad s&auml;ger skatteverket om julg&aring;vor</h2>
                <h3>Julklappar och andra g&aring;vor till anst&auml;llda i samband med jul och andra tillf&auml;llen</h3>
                <p>De flesta g&aring;vor som du f&aring;r fr&aring;n din arbetsgivare &auml;r skattepliktiga f&ouml;rm&aring;ner. Det finns dock vissa undantag. Om marknadsv&auml;rdet ligger under ett visst tr&ouml;skelv&auml;rde &auml;r julklappar, jubileumsg&aring;vor och minnesg&aring;vor skattefria.</p>
                <p>Huvudregeln &auml;r att alla g&aring;vor du f&aring;r fr&aring;n din arbetsgivare som anst&auml;lld &auml;r skattepliktiga.</p>
                <p>Julg&aring;vor, jubileumsg&aring;vor och minnesg&aring;vor &auml;r undantagen. S&aring; l&auml;nge g&aring;vans marknadsv&auml;rde inte &ouml;verstiger det beskattningsbara beloppet &auml;r du som anst&auml;lld befriad fr&aring;n att betala skatt p&aring; dem. Om g&aring;vans v&auml;rde &auml;r h&ouml;gre &auml;n detta tr&ouml;skelv&auml;rde &auml;r den dock skattepliktig fr&aring;n f&ouml;rsta &ouml;re.</p>
                <h3>Julklapp</h3>
                <p>Om en julklapp &auml;r v&auml;rd mindre &auml;n 500 kronor &auml;r den skattefri (inklusive moms).</p>
                <h3>Jubileumsg&aring;va</h3>
                <p>En g&aring;va som ges till dig som anst&auml;lld f&ouml;r att hedra f&ouml;retagets 25-, 50-, 75- eller 100-&aring;rsjubileum kallas jubileumsg&aring;va. Om priset inte &ouml;verstiger 1 500 kronor &auml;r den skattefri (inklusive moms).</p>
                <h3>Minnesg&aring;va</h3>
                <p>Om du arbetar permanent f&ouml;r f&ouml;retaget kan du f&aring; en g&aring;va f&ouml;r att minnas tillf&auml;llet.</p>
                <p>Vid upps&auml;gning av anst&auml;llningen n&auml;r man uppn&aring;r en viss &aring;lder (&auml;ven f&ouml;delsedagar fr&aring;n 50 &aring;r och upp&aring;t), om man &auml;r anst&auml;lld under en l&auml;ngre tid (minst 20 &aring;r), eller b&aring;de och.</p>
                <p>Om v&auml;rdet p&aring; minnesg&aring;van &auml;r mindre &auml;n 15 000 kronor &auml;r du befriad fr&aring;n skatt (inklusive moms). Din arbetsgivare f&aring;r ge dig h&ouml;gst tv&aring; skattefria minnesg&aring;vor. Om din totala anst&auml;llningstid &ouml;verstiger sex &aring;r betraktas du som l&aring;ngtidsanst&auml;lld.</p>
                <h3>Julg&aring;va vs. Gratifikation</h3>
                <p>Gratifikation, &auml;ven kallad bonus, &auml;r en frivillig betalning som du kan g&ouml;ra till dina anst&auml;llda i utbyte mot utf&ouml;rda tj&auml;nster. Vanligtvis har den anst&auml;llde &ouml;vertr&auml;ffat f&ouml;rv&auml;ntningarna eller uppfyllt specifika aff&auml;rsm&aring;l. Gratifikationen, &auml;ven kallad bonus, &auml;r en kontantg&aring;va som ges ut&ouml;ver den anst&auml;lldes ordinarie l&ouml;n eller arvoden.</p>
                <p>Bonusar &auml;r f&ouml;rem&aring;l f&ouml;r beskattning.</p>
                <p>Eftersom en gratifikation betraktas som ers&auml;ttning f&ouml;r en utf&ouml;rd tj&auml;nst snarare &auml;n som en g&aring;va, behandlas och beskattas den som en vanlig l&ouml;n.</p>
            </div>
        </div>
    </div>

    <div class="hero bg-base-200 py-20">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <img src="./images/design.jpg" class="md:max-w-sm rounded-lg shadow-2xl m-10" alt="Julklapp Till Anst&auml;llda, Julg&aring;va Kunder, G&aring;vokort"/>
            <div class="prose text-base max-w-screen-2xl">
                <h2>Julklappskort och g&aring;vokort</h2>
                <p><strong>Julklappkort</strong></p>
                <p>Du kanske har l&auml;st om v&aring;ra presentkort tidigare, men de &auml;r v&auml;rda att upprepa.</p>
                <p><strong>Presentkort</strong> g&ouml;r det enkelt att v&auml;lja och distribuera julklappar eftersom de ofta &auml;r f&ouml;rpackade i en liten presentf&ouml;rpackning.</p>
                <p>Presentkort &auml;r &aring; andra sidan mer av en eng&aring;ngsg&aring;va som s&auml;llan kan tryckas eller graveras.</p>
                <p>Kortet i denna f&ouml;rpackning kan sedan anv&auml;ndas av dina mottagare f&ouml;r att best&auml;lla huvudg&aring;van - och du f&aring;r ofta en present/bonusg&aring;va med kortet.</p>
                <p>Med andra ord beh&ouml;ver du inte oroa dig f&ouml;r presentinslagning eller f&ouml;rpackning eftersom g&aring;van redan &auml;r inslagen.</p>
                <hr/>
                <h2>Presentkort &auml;r ofta det b&auml;sta alternativet n&auml;r du vill att g&aring;van ska vara om&auml;rkt.</h2>
                <p>Detta &auml;r naturligtvis en nackdel, men det f&ouml;renklar b&aring;de best&auml;llning och leverans.</p>
                <p>L&aring;ngsiktig varum&auml;rkesexponering genom dina julklappar</p>
                <p>Du g&ouml;r det enkelt f&ouml;r dem att g&aring; fr&aring;n tanke till handling genom att ge dem fantastiska g&aring;vor.</p>
                <p>Vem vet, den personliga g&aring;van kanske slutar med att stanna i ditt k&ouml;k de kommande 5-10 &aring;ren?</p>
                <p>Resv&auml;skor kan ocks&aring; anv&auml;ndas som julklapp. &aring; ena sidan blir det allt vanligare att semestra under julen.</p>
                <p>Sprid ditt varum&auml;rke inte bara i detta vidstr&auml;ckta land, utan &auml;ven i avl&auml;gsna l&auml;nder!</p>
                <p>V&auml;skor har naturligtvis den extra f&ouml;rdelen att de &auml;r synliga inte bara f&ouml;r n&auml;ra och k&auml;ra utan &auml;ven f&ouml;r f&ouml;rbipasserande.</p>
                <p>M&aring;nga utnyttjar dock m&ouml;jligheten att resa bort i januari, n&auml;r det &auml;r som kallast h&auml;r hemma!</p>
                <p>Isolerande termosar, mysiga filtar och tryckta m&ouml;ssor &auml;r n&aring;gra andra saker som &auml;r idealiska att ge bort strax f&ouml;re jul.</p>
                <p>M&aring;nga k&ouml;ksartiklar har du f&ouml;rmodligen velat byta ut l&auml;nge men aldrig gjort.</p>
                
            </div>
        </div>
    </div>

    <div class="hero bg-base-100 py-20">
        <div class="hero-content flex-col lg:flex-row">
            <img src="./images/intern-representation.jpg" class="md:max-w-sm rounded-lg shadow-2xl m-10" alt="Skattefria G&aring;vor,Julklappar Till Personalen,Av g&aring;vor Med Undantag"/>
            <div class="prose text-base max-w-screen-2xl">
                <h2>Lyxiga eller praktiska julg&aring;vor?</h2>
                <p>Beroende p&aring; m&aring;lgruppen kan en av de tidigare n&auml;mnda kategorierna, eller till och med ett paraply, vara mer passande.</p>
                <p>Om detta &auml;r ditt huvudfokus kan du &ouml;verv&auml;ga att ge bort kaffemuggar med tryck av h&ouml;g kvalitet eller v&auml;skor f&ouml;r b&auml;rbara datorer med flera fack som kan anv&auml;ndas hela &aring;ret.</p>
                <p>&auml;ven om k&ouml;ksg&aring;vor ofta anv&auml;nds som b&aring;de en lyxig och praktisk g&aring;va &auml;r det inte alla som tycker om att laga mat.</p>
                <p>Detta kan tyckas vara d&aring;liga val f&ouml;r julklappar, men de flesta skulle bli imponerade om de fick ett reflekterande vindparaply eller en lyxig graverad metallpenna i present.</p>
                <p>Paraplyer &auml;r ocks&aring; s&auml;rskilt bra eftersom de &auml;r en g&aring;va som m&aring;nga m&auml;nniskor beh&ouml;ver utan att fundera s&auml;rskilt mycket.</p>
                <p>Julklappar v&auml;ljs ofta f&ouml;r att imponera p&aring; mottagaren, men den b&auml;sta g&aring;van &auml;r naturligtvis en produkt som kommer att anv&auml;ndas upprepade g&aring;nger och som d&auml;rmed exponerar ditt varum&auml;rke f&ouml;r flest m&ouml;jliga m&auml;nniskor.</p>
                <p>Pennor, reflektorer och vissa v&auml;skor ing&aring;r ocks&aring; i denna kategori.</p>
                <p>Vi har ocks&aring; ett stort urval av matg&aring;vor som alltid tas emot v&auml;l vid jul. V&auml;lj mellan b&aring;de godis och fina matupps&auml;ttningar till riktigt l&aring;ga priser!</p>
                <p>Se till att best&auml;lla dina julklappar i god tid s&aring; att din &ouml;nskade vara inte blir sluts&aring;ld. Vi har ett stort urval s&aring; en j&auml;mf&ouml;rbar produkt &auml;r l&auml;tt att hitta, men det &auml;r alltid b&auml;st att f&aring; ditt f&ouml;rstahandsval!</p>
                <hr/>
                <h2>Som julklapp kan du &ouml;verv&auml;ga att donera till v&auml;lg&ouml;renhet.</h2>
                <p>I r&auml;tt tid. M&aring;nga m&auml;nniskor f&ouml;ljer trenden att minska konsumtionen och julhandeln, och det &auml;r nu enkelt att ers&auml;tta prylar med en hj&auml;lpande hand. P&aring; hj&auml;lporganisationernas webbplatser &auml;r m&ouml;jligheterna o&auml;ndliga: du kan till exempel bidra till renare vatten genom Medical Mission, hj&auml;lpa till att r&auml;dda regnskogen genom Save the Rainforest eller ge bort en get genom ActionAid. Barncancerfonden, Barnmissionen, Erikshj&auml;lpen och Barnfonden &auml;r n&aring;gra av de andra organisationer som ger julklappar.</p>
                <p>T&auml;nk p&aring; att en v&auml;lg&ouml;rande julklapp inte r&auml;knas som en julklapp enligt Skatteverkets regler, utan som en vanlig g&aring;va. Om du som f&ouml;retagare g&ouml;r en v&auml;lg&ouml;renhetsg&aring;va i st&auml;llet f&ouml;r att ge en julklapp till dina anst&auml;llda &auml;r detta inte en skattepliktig f&ouml;rm&aring;n. Samtidigt kan du som f&ouml;retagare inte dra av g&aring;van.</p>
            </div>
        </div>
    </div>

    <div class="hero bg-base-200 py-20">
        <div class="hero-content text-center">
            <div class="prose text-base max-w-5xl">
                <h2>Presentkort &auml;r ett s&auml;kert kort!</h2>
                <p>Enkelt och anpassningsbart. Presentkort som inte kan l&ouml;sas in mot kontanter &auml;r en skattefri julklapp till dina anst&auml;llda. Passar bra om du har en m&aring;ngsidig grupp anst&auml;llda med olika intressen.</p>
                <h2>Livsmedel</h2>
                <p>Allt fr&aring;n delikatessl&aring;dor till chokladl&aring;dor &auml;r acceptabelt. Du m&aring;ste dock g&ouml;ra en del efterforskningar om din personals allergier och specialkoster. Se till att allt du donerar &auml;r &auml;tbart f&ouml;r alla dina anst&auml;llda!</p>
                <h2>Biljetter till filmerna</h2>
                <p>Biobiljetter &auml;r ocks&aring; popul&auml;ra julklappar, s&auml;rskilt bland yngre anst&auml;llda.</p>
                <h2>L&aring;t de anst&auml;llda v&auml;lja sin julklapp.</h2>
                <p>Om du inte kan best&auml;mma dig mellan n&aring;gra alternativ, varf&ouml;r inte l&aring;ta dina anst&auml;llda v&auml;lja sin egen julklapp? Skapa tre alternativ inom samma prisklass och be de anst&auml;llda v&auml;lja ett. Detta &auml;r popul&auml;rt eftersom valet av julklapp blir en g&aring;va i sig sj&auml;lv.</p>
            </div>
        </div>
    </div>
</Layout>
