---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kontakta oss">	
<div class="hero bg-base-300 p-10 sm:py-30">
    <div class="hero-content flex-col w-full md:pb-40 md:pt-20">
        
        <div class="prose w-full text-center">
            <h2><strong>Kontakta Oss</strong></h2>
        </div>
        <form action="#" method="POST" class="w-full md:w-3/4">
            <div class="overflow-hidden shadow sm:rounded-md">
                <div class="bg-white px-4 py-5 sm:p-6">
                    
                    <div class="grid grid-cols-12 sm:col-span-8 gap-6">
                        <div class="col-span-12 sm:col-span-12">
                        </div>

                        <div class="col-span-12 sm:col-span-10">
                        <label for="first-name" class="block text-sm font-medium text-gray-700">DITT NAMN</label>
                        <input type="text" name="full-name" id="full-name" autocomplete="given-name" class="p-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-green-500 focus:ring-green-500 sm:text-sm">
                        </div>
        
                        <div class="col-span-12 sm:col-span-10">
                        <label for="last-name" class="block text-sm font-medium text-gray-700">DIN E-POST</label>
                        <input type="text" name="email-address" id="email-address" autocomplete="family-name" class="p-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-green-500 focus:ring-green-500 sm:text-sm">
                        </div>
        
                        <div class="col-span-12 sm:col-span-10">
                        <label for="email-address" class="block text-sm font-medium text-gray-700">ÄMNE</label>
                        <input type="text" name="message-subject" id="message-subject" autocomplete="email" class="p-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-green-500 focus:ring-green-500 sm:text-sm">
                        </div>
                        
                        <div class="col-span-12 sm:col-span-10">
                            <div>
                                <label for="about" class="block text-sm font-medium text-gray-700">DITT MEDDELANDE (VALFRITT)</label>
                                <div class="mt-1">
                                    <textarea id="about" name="about" rows="10" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-green-500 focus:ring-green-500 sm:text-sm"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-8">
                            <div class=" px-4 py-3 text-right sm:px-6">
                                <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2">Save</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
</Layout>