---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Skatteverket om julklappar och andra g&aring;vor till anst&auml;llda">	
	<div class="hero bg-base-100 py-20">
        <div class="hero-content text-center">
            <div class="prose text-base max-w-5xl">
                <h2>G&aring;vor till arbetstagarna</h2>
                <p>Jul-, jubileums- och minnesg&aring;vor till anst&auml;llda kan under vissa omst&auml;ndigheter vara skattefria. G&aring;vor fr&aring;n dig som arbetsgivare &auml;r annars skattepliktiga.</p>
                <p>G&aring;vor fr&aring;n din arbetsgivare &auml;r i allm&auml;nhet skattepliktiga som inkomst.</p>
                <p>Julg&aring;vor, jubileumsg&aring;vor och minnesg&aring;vor &auml;r undantagen. S&aring; l&auml;nge g&aring;vans v&auml;rde, eller marknadsv&auml;rdet inklusive moms, inte &ouml;verstiger vissa tr&ouml;skelv&auml;rden &auml;r den skattefri.</p>
                <p>G&aring;van &auml;r skattepliktig fr&aring;n och med f&ouml;rsta &ouml;re om v&auml;rdet &ouml;verskrider dessa tak. F&ouml;r att de skattefria reglerna ska vara till&auml;mpliga m&aring;ste du som arbetsgivare ge g&aring;van till varje anst&auml;lld eller till en st&ouml;rre grupp av anst&auml;llda. Reglerna f&ouml;r skattebefrielse f&ouml;r g&aring;vor till anst&auml;llda kan &auml;ven g&auml;lla f&ouml;r entrepren&ouml;rer.</p>
                <p><strong>K&auml;lla: </strong><a href="http://skatteverket.se/">Skatteverket.se</a></p>
	    </div>
        </div>
    </div>

    <div class="hero bg-base-200 py-20">
        <div class="hero-content flex-col lg:flex-row-reverse">

          <img src="./images/utan-aven.jpg" alt="Arbetsgivaren Betalar,arbetsgivaren Skänker Pengar,Julklapp Till Anställda" class="md:max-w-sm rounded-lg shadow-2xl m-10" />

            <div class="prose text-base max-w-screen-2xl">
                <h2>G&aring;vor till icke-vinstdrivande organisationer</h2>
                <p>Om en arbetsgivare g&ouml;r ett bidrag till v&auml;lg&ouml;renhet, till exempel p&aring; beg&auml;ran av en anst&auml;lld, beskattas den anst&auml;llde. I detta fall anses den anst&auml;llde ha avyttrat det ekonomiska bidraget enligt kapitel 10. &Aring; andra sidan kan arbetsgivaren v&auml;lja att ge ett avdragsgillt bidrag till en ideell organisation i st&auml;llet f&ouml;r att ge julg&aring;vor till de anst&auml;llda. I detta fall kan arbetsgivaren inte dra av g&aring;vorna. Det &auml;r d&auml;rf&ouml;r viktigt att &ouml;verv&auml;ga hur stort inflytande den anst&auml;llde har &ouml;ver valet av g&aring;vor.</p>
                <p>V&auml;rdet av g&aring;van &auml;r inte skattepliktigt om den anst&auml;llde inte har n&aring;got inflytande alls.</p>
                <p>Om den anst&auml;llde har ett visst inflytande &ouml;ver valet av g&aring;va b&ouml;r g&aring;vans v&auml;rde beskattas eftersom den anst&auml;llde kan ha f&aring;tt en kontant motsvarighet.</p>
                <hr/>
                <h2>Kontantg&aring;vor</h2>
                <p>Presentkort och g&aring;vor som ges kontant</p>
                <p>Kontantg&aring;vor &auml;r inte avdragsgilla. Andra betalningsformer som kan v&auml;xlas mot pengar, t.ex. checkar, postv&auml;xlar och presentkort, betraktas ocks&aring; som pengar. Presentkort som inte kan l&ouml;sas in mot kontanter &auml;r d&auml;remot skattefria.</p>
            </div>
        </div>
    </div>

    <div class="hero bg-base-100 py-20">
        <div class="hero-content flex-col lg:flex-row">

            <img src="./images/arbetsgivarens-gava.jpg" alt="Arbetsgivaren Betalar,arbetsgivaren Skänker Pengar,Julklapp Till Anställda" class="md:max-w-sm rounded-lg shadow-2xl m-10" />

            <div class="prose text-base max-w-screen-2xl">
		<h2>Jullunch, julmiddag och julfest f&ouml;r dina anst&auml;llda</h2>
		<p><a href="https://julklappar.onrender.com/till-anstallda">Anst&auml;llda</a> f&aring;r en skattefri f&ouml;rm&aring;n f&ouml;r julmiddagar som ing&aring;r i en personalfest. Det &auml;r viktigt att f&ouml;rst&aring; att personalfester &auml;r skattefria upp till tv&aring; g&aring;nger per skatte&aring;r.</p>
		<p>Sedan de nya <a href="https://www.cvzjuridik.se/post/gavor-till-kunder_kollegor-2021">reglerna</a> tr&auml;dde i kraft den 1 januari 2017 &auml;r utgifter f&ouml;r mat och dryck inte skattem&auml;ssigt avdragsgilla, men f&ouml;retaget kan h&ouml;ja momsen p&aring; utgifter f&ouml;r mat och dryck upp till 300 kronor exklusive moms per person.</p>
                <p>&Auml;ven kringkostnader som lokalhyra, musikunderh&aring;llning och andra prestationer kan dras av upp till 180 kronor exklusive moms per person.</p>
                <p>Om julmiddagen eller julfesten h&aring;lls n&aring;gon annanstans kan f&ouml;retaget dra av den anst&auml;lldes rese- och hotellkostnader i sin helhet. Den anst&auml;llde omfattas inte av f&ouml;rm&aring;nsbeskattning. Detta g&auml;ller endast om logi tillhandah&aring;lls.</p>
                <p>Eftersom jullunchen inte r&auml;knas som intern representation &auml;r den anst&auml;llde undantagen fr&aring;n f&ouml;rm&aring;nsbeskattning. Kostnaden redovisas som en normal personalkostnad av f&ouml;retaget.</p>
                <p>Det finns inget avdrag f&ouml;r julmiddagar eller andra personalfester i en enskild firma.</p>
                <hr/>
                <h2>Dina kunders julmiddag</h2>
		<p>Extern representation omfattar julmiddagar med <a href="https://julklappar.onrender.com/till-kunder">kunder</a> i syfte att f&ouml;ra aff&auml;rsf&ouml;rhandlingar eller h&aring;lla kundm&ouml;ten. Eftersom avdrag f&ouml;r mat och dryck i samband med representation inte l&auml;ngre &auml;r avdragsgilla i f&ouml;retaget fr&aring;n och med den 1 januari 2017 kan avdrag f&ouml;r julbord med dina kunder inte g&ouml;ras i f&ouml;retagets inkomstdeklaration.</p>
                <p>I allm&auml;nhet uppfattas det som osannolikt att bjuda in flera klienter till julbord samtidigt f&ouml;r att det ska leda till en aff&auml;rsf&ouml;rhandling eller ett kundm&ouml;te. D&auml;rf&ouml;r m&aring;ste du kunna visa att du uppfyllde kravet p&aring; extern representation vid julmiddagen, annars &auml;r momsen inte avdragsgill. Ju fler kunder som kommer, desto sv&aring;rare blir det att visa att det f&ouml;reg&aring;ende &auml;r uppfyllt.</p>
                <p>Det maximala momsunderlaget per person &auml;r ocks&aring; 300 kronor exklusive moms.</p>
            
            </div>
        </div>
    </div>

    <div class="hero bg-base-200 py-20">
        <div class="hero-content flex-col lg:flex-row-reverse">

          <img src="./images/allman-gava.jpg" alt="Arbetsgivaren Betalar,arbetsgivaren Skänker Pengar,Julklapp Till Anställda" class="md:max-w-sm rounded-lg shadow-2xl m-10" />

            <div class="prose text-base max-w-screen-2xl">
                <h2>Julklapp f&ouml;r arbetstagare</h2>
                <p>Arbetstagare &auml;r befriade fr&aring;n att betala skatt p&aring; g&aring;vor de f&aring;r i julklapp om det totala v&auml;rdet, inklusive moms, &auml;r mindre &auml;n 500 kronor. Dina kostnader f&ouml;r hantering och frakt av g&aring;vorna ing&aring;r inte i g&aring;vans v&auml;rde.</p>
                <h2>Jubileumspresent till anst&auml;llda</h2>
                <p>En anst&auml;lld f&aring;r en jubileumsg&aring;va n&auml;r f&ouml;retaget firar sitt 25, 50, 75 eller 100:e verksamhets&aring;r. Anst&auml;llda f&aring;r inte f&aring; en skattefri jubileumsg&aring;va f&ouml;re f&ouml;retagets 25-&aring;rsjubileum och f&aring;r endast f&aring; en g&aring;va vart 25:e &aring;r.</p>
                <hr/>
                <h2>G&aring;va till minne av personal som jobbat l&auml;nge</h2>
                <p>En minnesg&aring;va &auml;r en minnesg&aring;va som ges till en fast anst&auml;lld n&auml;r denne har uppn&aring;tt en viss &aring;lder (&auml;ven p&aring; sin f&ouml;delsedag fr&aring;n och med 50 &aring;r), arbetat under en l&auml;ngre tid (minst 20 &aring;r) eller n&auml;r anst&auml;llningen upph&ouml;r. Om g&aring;vans v&auml;rde inte &ouml;verstiger 15 000 kronor inklusive moms och den inte ges mer &auml;n en g&aring;ng ut&ouml;ver anst&auml;llningens upph&ouml;rande &auml;r den skattefri.</p>
                <p>L&aring;ngtidsanst&auml;llda &auml;r de som har en sammanlagd anst&auml;llningstid p&aring; minst sex &aring;r n&auml;r det g&auml;ller minnesg&aring;vor.</p>
                <h3>Minnesg&aring;va</h3>
                <p>Anst&auml;llda med en sammanlagd anst&auml;llningstid p&aring; minst sex &aring;r b&ouml;r betraktas som fast anst&auml;llda i samband med minnesg&aring;vor (SKV A 2021:36). Anst&auml;llningstiden beh&ouml;ver inte vara sammanh&auml;ngande. Oavsett hur m&aring;nga anst&auml;llningsperioder en l&aring;ngtidsanst&auml;lld arbetstagare har haft hos samma arbetsgivare f&aring;r arbetsgivaren endast ge h&ouml;gst tv&aring; skattefria minnesg&aring;vor till dem. Entrepren&ouml;rer som har arbetat i flera tidsbegr&auml;nsade projekt f&ouml;r samma arbetsgivare som sammanlagt har p&aring;g&aring;tt i minst sex &aring;r b&ouml;r genomg&aring; samma utv&auml;rdering.</p>
            </div>
        </div>
    </div>

    <div class="hero bg-base-100 py-20">
        <div class="hero-content flex-col lg:flex-row">

            <img src="./images/anstallda-och-kunder.jpg" alt="Arbetsgivaren Betalar,arbetsgivaren Skänker Pengar,Julklapp Till Anställda" class="md:max-w-sm rounded-lg shadow-2xl m-10" />

            <div class="prose text-base max-w-screen-2xl">
                <h2>Sammanfattning</h2>
                <ul>
                <li>Anst&auml;lldas julklappar &auml;r avdragsgilla utgifter om g&aring;vans v&auml;rde inte &ouml;verstiger 2 500 kronor inklusive moms.</li>
                <li>En skattepliktig f&ouml;rm&aring;n f&ouml;r den anst&auml;llde &auml;r en julklapp som kan bytas mot pengar.</li>
                <li>Enligt <a href="https://www.skatteverket.se/privat/skatter/arbeteochinkomst/formaner/gavor.4.7459477810df5bccdd4800014379.html">Skatteverket</a> &auml;r gr&auml;nsen f&ouml;r representations- och reklampresenter 300 kronor exklusive moms.</li>
                <li>Det h&ouml;gsta avdragsgilla momsunderlaget f&ouml;r julmiddagar &auml;r 300 kronor exklusive moms.</li>
                <li>Utgifter f&ouml;r resor och logi f&ouml;r anst&auml;llda som deltar i julmiddagar p&aring; annan ort &auml;r fullt avdragsgilla f&ouml;r f&ouml;retaget om resan inte inneb&auml;r mer &auml;n en &ouml;vernattning. Det finns ingen f&ouml;rm&aring;nsbeskattning av anst&auml;llda.</li>
                <li>En julfests &ouml;vriga kostnader &auml;r avdragsgilla med 180 kronor exklusive moms per deltagare.</li>
                <li>Intern representation omfattar inte jullunch. Den anst&auml;llde omfattas av f&ouml;rm&aring;nsbeskattning.</li>
                <li>Julmiddagar och personalfester &auml;r inte avdragsgilla i en enskild firma.</li>
                <li>Julmiddagar med kunder m&aring;ste ha direkt anknytning till verksamheten f&ouml;r att r&auml;knas som extern representation.</li>
                </ul>
                <p><strong>K&auml;llor:</strong></p>
                <p><a href="https://www.skatteverket.se/privat/skatter/arbeteochinkomst/formaner/gavor.4.7459477810df5bccdd4800014379.html">https://www.skatteverket.se</a></p>
                <p><a href="https://foretagande.se/foretagsekonomi-rad/detta-galler-julklappar-och-julbord-for-anstallda-och-kunder">https://foretagande.se</a></p>
            
            </div>
        </div>
    </div>
	
	
</Layout>
