---
import Layout from '../layouts/Layout.astro';
---

<Layout title="">	
	<div class="hero bg-base-100 py-20">
        <div class="hero-content text-center">
            <div class="prose text-base max-w-5xl">
                
		
			</div>
        </div>
    </div>

    <div class="hero bg-base-200 py-20">
        <div class="hero-content flex-col lg:flex-row-reverse">

          <img src="./images/allman-gava.jpg" alt="" class="md:max-w-sm rounded-lg shadow-2xl m-10" />

            <div class="prose text-base max-w-screen-2xl">


            </div>
        </div>
    </div>

    <div class="hero bg-base-100 py-20">
        <div class="hero-content flex-col lg:flex-row">

            <img src="./images/julgavor.jpg" alt="" class="md:max-w-sm rounded-lg shadow-2xl m-10" />

            <div class="prose text-base max-w-screen-2xl">
				

            </div>
        </div>
    </div>
	
	
</Layout>