<footer class="bg-neutral text-base-100">
  <div class="footer p-10 max-w-screen-xl mx-auto">
    <div>
      <span class="footer-title">Navigationsl채nkar </span> 
      <a class="link link-hover" href="/">Hem </a> 
      <a class="link link-hover" href="/tips">Lyckas med julklapparna  </a> 
      <a class="link link-hover" href="/misstag">Saker att undvika </a> 
      <a class="link link-hover" href="/sent-ute">Julg책vor i sista minuten  </a>
    </div> 
    <div class="mt-0 md:mt-5 ">
      <a class="link link-hover" href="/skatteverkets-regler ">Vad s채ger skatteverket?</a> 
      <a class="link link-hover" href="/inspiration">25 julklappstips </a> 
      <a class="link link-hover" href="/till-anstallda">Unika presenter till anst채llda</a> 
      <a class="link link-hover" href="/till-kunder">Smarta julklappar till kunder</a>
      <a class="link link-hover" href="/kontakta-oss">Kontakta oss</a>
    </div> 
  </div>
</footer>
