<footer class="bg-neutral text-base-100">
  <div class="footer p-10 max-w-screen-2xl mx-auto">
    <div>
      <span class="footer-title"> </span> 
      <a class="link link-hover"> </a> 
      <a class="link link-hover"> </a> 
      <a class="link link-hover"> </a> 
      <a class="link link-hover"> </a>
    </div> 
    <div>
      <span class="footer-title"> </span> 
      <a class="link link-hover"> </a> 
      <a class="link link-hover"> </a> 
      <a class="link link-hover"> </a> 
      <a class="link link-hover"> </a>
    </div> 
  </div>
</footer>
