---
import Header from "./Header.astro";
import Footer from "./Footer.astro";

// Title and Meta Tags
export interface Props {
    title?: string;
    keywords?: string;
    description?: string;
}
const{ title, keywords, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="swe" data-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content={keywords} />
    <meta name="description" content={description} />
    
    <meta name="language" content="swe">
    <meta name="robots" content="index,follow" />

    <meta name="author" content="name, email@hotmail.com">
    <meta name="copyright" content="company name">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" />

    <title>{title}</title>
    <!-- <link rel="stylesheet" href="./assets/styles/main.css" /> -->

    
  </head>
  <body>
    <Header />
		<main>
    		<slot />
		</main>
    <Footer />
  </body>
</html>
