<!-- <li><a href=""><a>Item 1</a></a></li>
<li tabindex="0">
    <a class="justify-between">
    Parent
    <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
    </a>
    <ul class="p-2 bg-base-100">
    <li><a href=""><a>Submenu 1</a></a></li>
    <li><a href=""><a>Submenu 2</a></a></li>
    </ul>
</a></li>
<li><a href=""><a>Item 3</a></a></li> -->
<li><a href="/">Hem</a></li>
<li><a href="/skatteverkets-regler">Skatteverkets regler</a></li>
<li><a href="/sent-ute">Sent ute?</a></li>
<li><a href="/till-anstallda">Till anställda</a></li>
<li><a href="/till-kunder">Till kunder</a></li>
<li><a href="/inspiration">Inspiration</a></li>
<li><a href="/tips">Tips</a></li>
<li><a href="/julklappstips">Julklappstips</a></li>
<li><a href="/misstag">Misstag</a></li>
<li><a href="/kontakta-oss">Kontakta oss</a></li>